name: Pacman Contribution Graph

on:
  schedule:
    - cron: "0 0 * * *"   # every day
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Generate Pacman SVG
        uses: Platane/snk@v3
        with:
          github_user_name: hedi0
          outputs: |
            dist/pacman.svg?palette=github-dark

      - name: Push SVG to repo
        uses: EndBug/add-and-commit@v9
        with:
          add: dist
          message: "Update Pacman contribution graph"
